<% item_disabled ||= false %>
<div class="form-check">
  <%= form.check_box :item_ids, { multiple: true, disabled: item_disabled }, item.id, nil %>
  <label class="form-check-label d-block" for="<%= item_disabled ? 'flexCheckDisabled' : 'flexCheckChecked' %>">
    <div class="row">
      <div class="col">
        <%= item.name.capitalize() %>
      </div>
      <div class="col">
        <%= item_details.price.to_s + " SR" %>
      </div>
      <div class="col">
        <%= form.fields_for :order_items, OrderItem.new do |order_item_form| %>
          <%= order_item_form.hidden_field :item_id, value: item.id %>
          <%= order_item_form.number_field :qty, placeholder: 'Quantity' %>
          <%= order_item_form.hidden_field :price, value: item_details.price %>
        <% end %>
      </div>
    </div>
  </label>
</div>
