<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order ID: <%= @order.id %></h5>
            <h6>Branch ID: <%= @order.branch_id %></h6>
  
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                      <div class="col">
                        <h5>Item</h5>
                      </div>
                      <div class="col">
                        <h5>Quantity</h5>
                      </div>
                      <div class="col">
                        <h5>Price</h5>
                      </div>
                    </div>
                  </li>

              <% @order.items.each do |item| %>
                <% order_item_details = OrderItemsController.get_details(@order.id, item.id) %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      <%= item.name.capitalize() %>
                    </div>
                    <div class="col">
                      <%= order_item_details.qty %>
                    </div>
                    <div class="col">
                      <%= order_item_details.price.to_s + " SR" %>
                    </div>
                  </div>
                </li>
              <% end %>
  
              <li class="list-group-item">
                <div class="row">
                  <div class="col-8">
                    <strong>Total:</strong>
                  </div>
                  <div class="col">
                    <span><%= @order.total.to_s + " SR" %></span>
                  </div>
                </div>
              </li>
            </ul>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  